/* --------------------- */
/* ROOT */
/* --------------------- */

:root {
    --bs-body-font-family: 'JetBrains Mono', sans-serif;
    --primary-color: #318ce7;
    --secondary-color: #000;
    --white-color: #fff;
    --shadow-color: #6c757d;
    --border-color: #dddddd;
    font-size: 14px;
}

main {
    padding-top: 100px;
}

/* --------------------- */
/* TABLE */
/* --------------------- */
table.middle td, th {
    vertical-align: middle;
}

th {
    font-size: 12px;
}

.table_product_image {
    height: 50px;
    width: 50px;
    border: 1px solid var(--border-color);
    border-radius: 10px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

/* --------------------- */
/* BADGE */
/* --------------------- */
.badge {
    color: #ffffff;
    font-size: 12px !important;
    text-transform: capitalize;
}

.bg-primary {
    background: var(--primary-color) !important;
}

.bg-warning {
    background: #e0b534 !important;
}

.bg-danger {
    background: #de626e !important;
}

/* --------------------- */
/* BUTTON */
/* --------------------- */
.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);

    &:hover {
        background-color: var(--secondary-color);
    }
}

.input-group-text.btn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* --------------------- */
/* CARD */
/* --------------------- */
.card-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px !important;
}


/* --------------------- */
/* CHART */
/* --------------------- */

.chart {
    width: 100%;
}

/* --------------------- */
/* AUTH LAYOUT */
/* --------------------- */
.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* ----------------*/
/* HEADER SECTION */
/* --------------- */
header {
    height: 80px;
    border-bottom: 1px dotted var(--shadow-color);
    background: #ffffff;

    .logo {
        display: inline-block;
        width: 50px;
        height: 50px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    a {
        color: var(--secondary-color);
    }

    .nav-link {
        margin: 0 10px;
        color: var(--secondary-color);

        &:hover {
            color: var(--primary-color) !important;
        }
    }

    .navbar-toggler {
        border-color: 1px solid var(--secondary-color);

        &:focus {
            box-shadow: unset;
        }
    }

    @media (max-width: 992px) {
        .navbar-collapse {
            padding: 10px;
            border: 1px dotted var(--secondary-color);
            border-radius: 5px;
            background-color: var(--white-color);
        }
    }
}

/* --------------------- */
/* ERROR */
/* --------------------- */

.errorlist {
    color: red;
    list-style: none;
    padding: 0;
    font-size: 10px;
    margin-bottom: 0px;
}

.alert-error {
    --bs-alert-color: var(--bs-danger-text-emphasis);
    --bs-alert-bg: var(--bs-danger-bg-subtle);
    --bs-alert-border-color: var(--bs-danger-border-subtle);
    --bs-alert-link-color: var(--bs-danger-text-emphasis);
}


/* --------------------- */
/* GENERAL */
/* --------------------- */
.product_image {
    height: 80px;
    width: 80px;
    border: 1px solid var(--border-color);
    border-radius: 10px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}


/* --------------------- */
/* PRINT */
/* --------------------- */

@media print {
    @page {
        padding: 30px 10px !important;
    }

    .container,
    .container-fluid,
    .row {
        width: 100% !important;
        max-width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    main {
        padding-top: 0px;
    }

    .hide-print {
        display: none;
    }

    .card {
        border: unset !important;
    }

    .chart-container {
        width: 100%;
        page-break-after: always;
        border: 1px solid var(--border-color) !important;
    }

    .chart-container .card-body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #sales_history {
        height: 80vh !important;
    }

    #units_sales_history,
    #sales_prediction,
    #units_sales_prediction {
        height: 98vh !important;
    }

    .apexcharts-toolbar {
        display: none !important; /* Hide zoom/export buttons */
    }

    .page-break-after {
        page-break-after: always;
    }
}


/*@media print {*/

/*    @page {*/
/*        padding: 30px 0px !important;*/
/*    }*/

/*    .hide-print {*/
/*        display: none;*/
/*    }*/

/*    .container,*/
/*    .container-fluid,*/
/*    .row {*/
/*        width: 100% !important;*/
/*        max-width: 100% !important;*/
/*        margin: 0 !important;*/
/*        padding: 0 !important;*/
/*    }*/

/*    body {*/
/*        margin: 0;*/
/*        padding: 0;*/
/*    }*/

/*    main {*/
/*        padding-top: 0px;*/
/*    }*/

/*    table {*/
/*        border-collapse: collapse;*/
/*        width: 100%;*/
/*    }*/

/*    tr {*/
/*        break-inside: avoid;*/
/*        page-break-inside: avoid;*/
/*    }*/

/*    thead {*/
/*        display: table-header-group; !* ensures header repeats on each page *!*/
/*    }*/

/*    tfoot {*/
/*        display: table-footer-group;*/
/*    }*/

/*    .responsive {*/
/*        break-inside: avoid;*/
/*        page-break-inside: avoid;*/
/*    }*/

/*    .card {*/
/*        border: unset !important;*/
/*    }*/

/*    .print_chart .card {*/
/*        border: 1px solid var(--border-color) !important;*/
/*    }*/

/*    .apexcharts-toolbar {*/
/*        display: none !important; !* Hide zoom/export buttons *!*/
/*    }*/

/*    .print_chart {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        text-align: center;*/
/*        width: 100%;*/
/*        margin-left: auto !important;*/
/*        margin-right: auto !important;*/
/*    }*/

/*    .page-break-inside {*/
/*        page-break-inside: avoid;*/
/*        break-inside: avoid;*/
/*    }*/

/*    .page-break-after {*/
/*        page-break-after: always;*/
/*    }*/

/*}*/

/*@media print and (orientation: portrait) {*/
/*    .print_chart {*/
/*        padding-top: 15px;*/
/*    }*/
/*}*/

/*@media print and (orientation: landscape) {*/
/*    .print_chart {*/
/*        display: flex;*/
/*        padding-top: 125px;*/
/*        page-break-after: always;*/
/*    }*/
/*}*/