<div class="col-12">
    <div class="table-responsive">
        <table class="table table-bordered middle">
            <thead>
            <tr>
                <th>Picture</th>
                <th>Date</th>
                <th>Name</th>
                <th>Category</th>
                <th>View</th>
            </tr>
            </thead>
            <tbody>
            {% if productList %}
                {% for product in productList %}
                    <tr>
                        <td>
                            <div class="table_product_image">
                                <img src="/uploads/{{ product.image }}"/>
                            </div>
                        </td>
                        <td>{{ product.created_at }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category }}</td>
                        <td>
                            <a class="btn btn-sm btn-primary" href="{% url 'analysis' %}?product={{ product.id }}">
                                <i class="bi bi-pie-chart-fill"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="text-center p-5">No data available</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>