<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pixtrace - {% block title %}{% endblock %}</title>
    {% include 'includes/style.html' %}
</head>
<body>

<div class="container-fluid">
    <div class="row auth">
        <div class="col-12 text-center mb-3">
            <img class="mb-3" src="/static/images/logo.webp" height="80" width="80" alt="Logo" loading="eager"
                 fetchpriority="high"/>
            <h4>Pixtrace</h4>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</div>

{% include 'includes/script.html' %}
</body>
</html>